@import "tailwindcss";


@theme {
  /* fonts */
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;

  /* colors */
  --color-background: oklch(0.9781 0.0033 67.78);
  --color-foreground: hsl(25 15% 15%);
  --color-muted-foreground: hsl(30.43 17% 33%);
  --color-primary: hsl(25 30% 28%);
  --color-primary-foreground: hsl(30 25% 97%);
  --color-muted: hsl(30 15% 94%)
}
